/* Table container */
.table-container {
    width: 100%;

    height: 100%;
   
    max-height: 100%;
    overflow-x: auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    
}










/* Table Header */
.table-header-container {
    position: sticky;
    top: 0;
    background-color: #1a1d21;
    z-index: 2;
}

.table-header-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-header-container th {
    padding: 0.75rem;
    text-align: left;
    font-weight: 500;
    color: white;
    border-right: 1px solid #444;
}

.table-header-container th:last-child {
    border-right: none;
}

/* Table Body */
.table-body-container {
    flex: 1;
    overflow-y: auto;
    height: auto; /* Allow it to grow dynamically */
    max-height: none; /* Remove the max-height restriction */
}

.table-body-container table {
    padding: 0% 2% 0% 2%;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.75rem;
    height: 100%;
}

.table-body-container td {
    padding: 0.75rem;
    border: 1px solid #444; /* Darker border color */
    background-color: white;
    border-radius: 0; /* Reset border-radius for all td elements */
    text-align: center; /* Center-align text */
}
.table-body-container tr:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Add rounded corners to the first and last td elements in each row */
.table-body-container tr:first-child td:first-child {
    border-top-left-radius: 10px;
}

.table-body-container tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

.table-body-container tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.table-body-container tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.table-body-container tr td:first-child {
    border-left-radius: 10px;
}

.table-body-container tr td:last-child {
    border-right-radius: 10px;
}

/* Add button box */
.add-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem; /* Same padding as other cells */
    border: 1px solid #444; /* Darker border color */
    background-color: white; /* Same background color as other cells */
    height: 100%; /* Ensure it takes the full height */
}

.add-button {
    background-color: #bccdde; 
    color: rgb(0, 0, 0); 
    border: none; 
    border-radius: 9px; 
    padding: 0.5rem 1rem; 
    cursor: pointer; 
    transition: background-color 0.2s, color 0.2s;
    font-size: 1rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.add-button span {
    font-size: 3rem; 
}

.add-button:hover {
    background-color: #264563; 
    color: #ffffff; 
}