main{
    justify-content: flex-start;
    align-items: center;
}

/* tabs */
.tabs{
    width: 60%;
    margin-top: 5%;
    display: flex;
    background-color: #101820;
    border-radius: 30px;
    padding: 5px;
    color: white;
}
.tab {
    width: 20%;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: x-large;
    text-align: center;
}

/* Flowchart */

/* header */
#Flowchart{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 95%;
    height: 80%;
    margin: 5%;
    margin-top: 2%;
}
#year-headers{
    display: flex;
    width: 100%;
    height: 10%;
    background-color: yellow;
    justify-content: space-around;
    align-items: center;
}
.year{
    text-align: center;
}
/* cont */
#Flowchart-content{
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(6,1fr);
    grid-template-areas: 
        "f11 s11 f21 s21 f31 s31 f41 s41"
        "f12 s12 f22 s22 f32 s32 f42 s42"
        "f13 s13 f23 s23 f33 em3 em4 em6"
        "f14 s14 f24 em1 f34 s33 f43 s43"
        "f15 s15 f25 s24 f35 s34 f44 s44"
        "f16 s16 f26 s25 em2 s35 em5 em7";
    column-gap: 1%;
    row-gap: 1%;
    place-items: center;
}
.course{
    width: 85%;
    height: 70%;
    background-color: blue;
}
.empty{
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
}

/* assinging grid template area */
#f11 {
    grid-area: f11;
}
#f12 {
    grid-area: f12;
}
#f13 {
    grid-area: f13;
}
#f14 {
    grid-area: f14;
}
#f15 {
    grid-area: f15;
}
#f16 {
    grid-area: f16;
}
#s11 {
    grid-area: s11;
}
#s12 {
    grid-area: s12;
}
#s13 {
    grid-area: s13;
}
#s14 {
    grid-area: s14;
}
#s15 {
    grid-area: s15;
}
#s16 {
    grid-area: s16;
}
#f21 {
    grid-area: f21;
}
#f22 {
    grid-area: f22;
}
#f23 {
    grid-area: f23;
}
#f24 {
    grid-area: f24;
}
#f25 {
    grid-area: f25;
}
#f26 {
    grid-area: f26;
}
#s21 {
    grid-area: s21;
}
#s22 {
    grid-area: s22;
}
#s23 {
    grid-area: s23;
}
#s24 {
    grid-area: s24;
}
#s25 {
    grid-area: s25;
}
#f31 {
    grid-area: f31;
}
#f32 {
    grid-area: f32;
}
#f33 {
    grid-area: f33;
}
#f34 {
    grid-area: f34;
}
#f35 {
    grid-area: f35;
}
#s31 {
    grid-area: s31;
}
#s32 {
    grid-area: s32;
}
#s33 {
    grid-area: s33;
}
#s34 {
    grid-area: s34;
}
#s35 {
    grid-area: s35;
}
#f41 {
    grid-area: f41;
}
#f42 {
    grid-area: f42;
}
#f43 {
    grid-area: f43;
}
#f44 {
    grid-area: f44;
}
#s41 {
    grid-area: s41;
}
#s42 {
    grid-area: s42;
}
#s43 {
    grid-area: s43;
}
#s44 {
    grid-area: s44;
}